{% macro gun_icon() %}
<svg viewBox="0 0 64 32" xmlns="http://www.w3.org/2000/svg" class="weapon-icon">
  <path d="M4 20 H40 V13 H50 V20 H57 V25 H46 L42 30 H29 L26 25 H9 L5 26 Z" fill="currentColor"/>
  <rect x="8" y="9" width="20" height="7" fill="currentColor"/>
</svg>
{% endmacro %}

{% macro knife_icon() %}
<svg viewBox="0 0 64 20" xmlns="http://www.w3.org/2000/svg" class="weapon-icon">
  <path d="M2 13 L38 6 L60 1 L42 12 L38 15 L4 17 Z" fill="currentColor"/>
  <rect x="2" y="13" width="13" height="5" rx="1" fill="currentColor" opacity="0.75"/>
</svg>
{% endmacro %}